/* =============================
    2.3 - About Style
================================ */
.about {
    overflow: hidden;
    & .main-image{
        position: relative;
        padding: 90px 0;
        top: 0;
        & .about-img{
            z-index: 1;
            position: relative;
        }
        & .about-icon{
            background-color: white;
            border-radius: 10px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 12px 42px rgb(69 38 177 / 10%), 11px 6px 25px rgb(69 38 177 / 10%);
            z-index: 2;
        }
        & .shape-one {
            position: absolute;
            top: 30px;
            left: -210px;
            @media #{$small-mobile} {
                top: 0;
                left: -83px;
                width: 84%;
            }
        }
        & .shape-two{
            position: absolute;
            top: 0;
            right: 0;
            @media #{$laptop-device} {
                right: -50px;
            }
            @media #{$desktop-device} {
                right: -50px;
            }
            @media #{$large-mobile} {
                right: -130px;
            }
        }
        & .icon-one {
            top: 60px;
            right: 50px;
            height: 140px;
            width: 140px;
            @media #{$laptop-device} {
                right: -13px;
            }
            @media #{$desktop-device} {
                right: -40px;
            }
            @media #{$large-mobile} {
                top: 40px;
                right: -20px;
            }
            @media #{$small-mobile} {
                height: 100px;
                width: 100px;
                right: -10px;
            }
        }
        & .icon-two {
            top: 180px;
            left: -80px;
            height: 120px;
            width: 120px;
            @media #{$laptop-device} {
                left: -40px;
            }
            @media #{$desktop-device} {
                left: -25px;
            }
            @media #{$tablet-device} {
                left: -30px;
            }
            @media #{$large-mobile} {
                left: -25px;
            }
            @media #{$small-mobile} {
                height: 80px;
                width: 80px;
                left: -10px;
            }
        }
        & .circle-thumb{
            width: 240px;
            height: 240px;
            border-radius: 100%;
            background: linear-gradient(135deg, #4c2db7 0%, #5e3fc8 45%, #694bd2 66%);
            position: absolute;
            right: 10px;
            bottom: 0;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media #{$laptop-device} {
                right: -50px;
            }
            @media #{$desktop-device} {
                width: 200px;
                height: 200px;
                right: -50px;
            }
            @media #{$large-mobile} {
                width: 200px;
                height: 200px;
                right: -25px;
            }
            @media #{$small-mobile} {
                height: 140px;
                width: 140px;
                right: -10px;
            }
            & .number{
                font-size: 72px;
                line-height: 1;
                font-family: $jost;
                color: white;
                margin-bottom: 10px;
                @media #{$small-mobile} {
                    font-size: 40px;
                }
            }
            & .text {
                font-family: $jost;
                font-size: 21px;
                color: white;
                line-height: 1.3;
                text-align: center;
                @media #{$small-mobile} {
                    font-size: 16px;
                }
            }
        }
    }
    & .about-content{
        margin-left: 110px;
        @media #{$laptop-device} {
            margin-left: 60px;
        }
        @media #{$desktop-device} {
            margin-left: 60px;
        }
        @media #{$tablet-device} {
            margin-left: 0px;
        }
        @media #{$large-mobile} {
            margin-left: 0px;
        }
        @media #{$extra-small-mobile} {
            margin-left: 0px;
        }
        & .btn{
            margin-top: 40px;
            @media #{$large-mobile} {
                margin-top: 20px;
            }
        }
    }
}
.divider-thumb {
    & .video-content-wrap{
        position: relative;
        @media #{$tablet-device} {
            .icon-img{
                width: 100%;
            }
        }
    }
    & .video-popup{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -80px;
        height: 165px;
        width: 165px;
        border-radius: 100%;
        background: linear-gradient(135deg, #4c2db7 0%, #5e3fc8 45%, #694bd2 66%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 30px;
        @media #{$desktop-device} {
            width: 140px;
            height: 140px;
            right: -60px;
        }
        @media #{$tablet-device, $large-mobile} {
            width: 140px;
            height: 140px;
            right: auto;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @media #{$extra-small-mobile} {
            width: 100px;
            height: 100px;
        }
    }
}
.about-accordion{
    margin-top: 30px;
}

.about-two{
    background-color: #f2f5fb;
    position: relative;
    & .btn-style-one{
        margin-top: 30px;
        @media #{$tablet-device} {
            margin-top: 10px;
        }
        @media #{$large-mobile} {
            margin-top: 10px;
        }
    }
    &-images{
        display: flex;
        position: absolute;
        text-align: right;
        flex-direction: column;
        top: -64px;
        right: 58px;
        @media only screen and (min-width: 1550px) and (max-width: 1680px){
            right: 0;
        }
        @media only screen and (min-width: 1400px) and (max-width: 1549px){
            top: 0px;;
        }
        
        @media only screen and (min-width: 1200px) and (max-width: 1399px){
            top: 0;
            right: 0px;
            width: 66%;
        }
        @media #{$laptop-device} {
            position: relative;
        }
        @media #{$desktop-device} {
            position: relative;
            top: 0;
            right: 0px;
            width: 60%;
        }
        @media #{$tablet-device} {
            top: 0;
            position: relative;
            right: 0px;
            width: 64%;
        }
        @media #{$large-mobile} {
            top: 0;
            position: relative;
            right: 0px;
            width: 52%;
        }
        @media #{$small-mobile} {
            width: 100%;
        }
        & .top{
            display: flex;
            margin-bottom: 30px;
            margin-left: 140px;
            z-index: 1;
            @media only screen and (min-width: 1550px) and (max-width: 1680px){
                margin-left: 100px;
            }
            @media only screen and (min-width: 1400px) and (max-width: 1549px){
                margin-left: 40px;;
            }
            @media only screen and (min-width: 1200px) and (max-width: 1399px){
                margin-left: 100px;
            }
            @media #{$desktop-device} {
                margin-left: 0;
            }
            @media #{$tablet-device} {
                margin-left: 0;
            }
            @media #{$large-mobile} {
                margin-left: 0;
            }
            @media #{$small-mobile} {
                width: 100%;
                flex-direction: column;
            }
            & img{
                align-self: flex-end;
                margin-right: 30px;
                &:last-child{
                    margin-right: 0px;
                    margin-bottom: 0px;
                }
                @media #{$small-mobile} {
                    margin-right: 0px;
                    margin-bottom: 30px;
                    width: 100%;
                }
            }
        }

        & .bottom {
            display: flex;
            z-index: 1;  
            @media only screen and (min-width: 1550px) and (max-width: 1680px){
                margin-left: 0px;;
            }
            @media only screen and (min-width: 1400px) and (max-width: 1549px){
                margin-left: 40px;;
            }
            @media #{$small-mobile} {
                width: 100%;
                flex-direction: column;
            }
            & img {
                align-self: flex-start;
                margin-right: 30px;
                @media #{$small-mobile} {
                    margin-bottom: 30px;
                    width: 100%;
                }
                &:last-child{
                    margin-right: 0px;
                    @media #{$small-mobile} {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    &-circle{
        position: absolute;
        top: 120px;
        left: 50px;
        
        @media #{$desktop-device} {
            width: 500px;
            height: 500px;
        }
        @media #{$tablet-device} {
            width: 500px;
            height: 500px;
        }
        @media #{$large-mobile} {
            display: none;
        }
    }
}